/* VENDOR - Default fall-backs and external files.
========================================================================== */

@import "vendor/normalize/_import-now";

/* BASE - Base Variable file along with starting point Mixins and Placeholders.
=======================================s=================================== */

@import 'globals/_variables.scss';
@import 'globals/_mixins.scss';
@import 'globals/_placeholders.scss';


/* GRID - Grid files.
========================================================================== */

@import "framework/_grid.scss";


/* TYPOGRAPHY - TYPOGRAPHY files.
========================================================================== */

@import 'framework/_typography.scss';


/* MODULES - Re-usable site elements.
========================================================================== */

@import 'modules/_buttons.scss';


/**************** COMMON RULES ****************/


body {
    min-width: 320px; 
    position: relative;
    overflow-x: hidden;
    transition: opacity 0s 400ms;
    background-color:$color-background;
    height: auto;
}



ul {
    list-style: none;
}

article {
	box-sizing:border-box;
}


/**************** HEADER AREA ****************/

.site-header {
	.header-top {
		padding-top: 0.5rem;
	}
	background:
			url(../img/backgrounds/bg_poly2.png) no-repeat 0% 0%,
			url(../img/backgrounds/bg_poly1.png) no-repeat center center;
	background-size:cover;
.header-inner {
	padding:3rem 0 4.5rem;
}

.hero-wrapper {
	@include flex-wrap(wrap);
	@include justify-content(center);
	max-width:500px;
	margin:0 auto;
	line-height:1.8;

}
.text-wrapper {
	padding-top:2.66rem;
}
.site-title {
	margin:0;
}
.hero-text {
	margin:1.66rem 0;
}

.img-wrapper {
	@include flex(0 0 150px);
}

.btn-cta {
margin-top:.86rem;

}
}

.nav-desktop {
	@extend %flex-from-sm;
}

/**************** BREAKPOINTS  ****************/


@include mq(tablet, min) {

/**************** HEADER AREA ****************/

.site-header {
.header-top {
	padding-top:1.277rem;
	@include justify-content(space-between);
	@include align-items(center);
}
.header-inner {
	padding:6.1rem 0 5.66rem;
}
.hero-wrapper {
	max-width:100%;
@include justify-content(space-between);
@include align-items(flex-start);
}
.img-wrapper {
	@include flex-basis(300px);
	@include order(2);
}
.text-wrapper {
	margin-top:6.5rem;
	padding-top:0;
	@include flex( 0 0 calc(100% - 320px));
	@include order(1);
}
.hero-text {
	margin-top:2.17rem;
	font-size:20px;
}
.btn-cta {
	margin-top:3.33rem;
}
}
.nav-desktop {
	padding-top:0.5rem;
	width:90%;
	max-width:740px;
	@include justify-content(space-between);
	.menu-link {
		&:not(:last-of-type) {
			margin-right:0.5rem;
		}
	}
}

}



// MEDIUM
@include mq(tablet-wide, min) {


/**************** HEADER AREA ****************/
.site-header {
	.text-wrapper {
	@include flex-basis(570px);

}
}

}

