
@import "mixins/_typo.scss";
@import "mixins/_flex.scss";
@import "mixins/_medias.scss";
@import "mixins/_animate.scss";
// @import "mixins/_grids";


@mixin bg-cover($url) {
  background:url($url) no-repeat center center;
  background-size: cover;
}

@mixin bg-cover-overlay ($url,$color) {
    background:
    -webkit-gradient(linear, left top, right top, from($color),to($color)),
    url($url) no-repeat center center;
    background:
    -webkit-linear-gradient(left, $color,$color),
    url($url) no-repeat center center;
    background:
    -o-linear-gradient(left, $color,$color),
    url($url) no-repeat center center;
    background:
    linear-gradient(to right, $color,$color),
    url($url) no-repeat center center;
    background-size: cover;
}
@mixin bg($url) {
     background:url($url) no-repeat center center;
}

@mixin bg-cover-sprite($url,$pos-x,$pos-y) {
    background:url($url) no-repeat $pos-x $pos-y;
    background-size:cover;
}
// Border:border radius

@mixin border-radius($radius,$place) { 
  @if $place == 'all' {
    -webkit-border-radius: $radius; 
 -moz-border-radius: $radius; 
 -ms-border-radius: $radius; 
 border-radius: $radius; 
  } @else {
     -webkit-border-#{$place}-radius: $radius; 
 -moz-border-#{$place}-radius: $radius; 
 -ms-border-#{$place}-radius: $radius; 
 border-#{$place}-radius: $radius; 
  }

}

@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

//BOX_SHADOW 

@mixin box-shadow($shadow1, $shadow2:false, $shadow3:false, $shadow4:false, $shadow5:false) {
 $params: $shadow1;
  @if $shadow2 
    { $params: $shadow1, $shadow2; }
    @if $shadow3 != false
      { $params: $shadow1, $shadow2, $shadow3; }
      @if $shadow4 != false
        { $params: $shadow1, $shadow2, $shadow3, $shadow4; }
        @if $shadow5 != false
          { $params: $shadow1, $shadow2, $shadow3, $shadow4, $shadow5; }

  -webkit-box-shadow: $params;
     -moz-box-shadow: $params;
          box-shadow: $params;

}

// TEXT_SHADOW 

@mixin text-shadow($x, $y, $blur, $color) {
    text-shadow: $x $y $blur $color;
}







@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder { /* Firefox 18- */
        @content;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}