//usage @extend placeholdername; 


// for parent of floated objects
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// visibility placeholders

%visible-from-lg {
	display:none;
	@include mq(desktop) {
		display: block;
	}
}

%visible-from-md {
	display:none;
	@include mq(tablet-wide) {
		display: block;
	}
}

%visible-from-sm {
	display:none;
	@include mq(tablet) {
		display: block;
	}
}

%flex-from-sm {
	display:none;
	@include mq(tablet) {
		display: flex;
	}
}


%visible-640 {
	display:none;
	@include mq(tablet-small) {
		display: block;
	}
}

%hidden-from-md {
	display:block;
	@include mq(tablet-wide) {
		display: none;
	}
}

%hidden-from-sm {
	display: block;
	@include mq(tablet) {
		display: none !important;
	}
}
%hidden-640 {
	display: block;
	@include mq(tablet-small) {
		display: none;
	}
}

%hidden-from-lg{
display:block;
	@include mq(desktop) {
		display: none;
	}
}


// Box-shadow placeholders

%box-shadow-grey {
	// @include box-shadow(0px 0px 9px 0px $color-background-shade);
}

// Text Shadow placeholders


// %text-shadow-blue {
// 	@include text-shadow(0px, 0px, 13px, $color-text-shadow);
// }