// COLORS
$white:#ffffff;
$black:rgba(0, 0, 0, 1);
$white-smoke:rgba(240, 240, 240, 1);
$white-grey-d7:rgba(215, 215, 215, 1);

$red: #e74c3c;


// PALLETE
$dark-orange:rgba(255,132,0,1);
$night-rider:rgba(52,52,52,1);
$zambezi:rgba(91,91,91,1);
$red:rgba(247,60,54,1);
$grey:rgba(216,216,216,1);


// THEME
$color-primary: $dark-orange;

$color-accent-1:$dark-orange;



$color-background: $white;

$color-sticker-background:$white;


$color-text-invert:$white;
$color-text:$night-rider;
$color-text-weak: $zambezi;
$color-text-strong: $black;
$color-btn-text:$white;
$color-btn-background:transparent;
$color-btn-background-hover:$white;
$color-btn-text-hover: $dark-orange;
$color-border:$white;
$color-border-marginator:$grey;



// TEXT 
$default-font: "Roboto",sans-serif;

// SIZES
$container-max-width-xs:337px;
$container-max-width-sm:690px;
$container-max-width-md:930px;
$container-max-width-xlg:1345px;