.btn-cta {
	display:inline-block;
	width:245px;
	box-sizing:border-box;
	background-color:$color-btn-background;
	@include border-radius(5px,all);
	text-align:center;
	border:2px solid $color-border;
	text-transform:uppercase;
	padding:1rem;
	letter-spacing:1px;
	font-family:"HelveticaNeue", "Roboto",sans-serif;
	font-weight:500;
	@include transition(.2s ease-in);
	&:hover,
 &:active,
 &:focus {
 	background-color:$color-btn-background-hover;
 	color:$color-btn-text-hover;

 }
}
