/*******HAMBURGER-MENU*******/


*{
  box-sizing: border-box;
}


.text{
  width: 100%;
  text-align: center;
  margin-top: 10%;
  font-size: 3em;
  color: $white;
  font-weight: 800;
}

.mobile-menu-tab{
	display:none;
  width: 47px;
  height: 42px;
  position: fixed;
  z-index: 100;
  top:1rem;
  right: 0.66rem;
  left:auto;
  cursor: pointer;
  transition: all .6s ease-in-out;
  border:1px solid $white;
  @include border-radius(6px,all);
  @include linearGradient ($red,$color-primary);
  div{
    width: 33px;
    height: 4px;
    background-color: $white;
    display: block;
    margin: 5px 6px;
    transition: all .6s ease-in-out;
    
    &:nth-child(1){
      margin-top: 0.5rem;
    }
  }
}

.mobile-menu-tab.active{
	top:0;
  right: 150px;
  left:auto;
  transition: all 600ms ease-in-out;
  border:none;
  @include border-radius(0,all);
  @include border-radius(6px,bottom-left);
    #one{
    	@include transform(translateY(9px) rotate(-135deg));
    	// @include rotate(-135);
    	@include transition( all .6s ease-in-out)
      // transform: translateY(9px) rotate(-135deg);
      // transition: all .6s ease-in-out;
      background-color: $color-primary;
    }
    
    #two{
      opacity: 0;
     @include transition(.4s ease);
    }
    
    #three{
    	@include transform(translateY(-9px) rotate(-45deg));
    	// @include rotate(-45);
      @include transition(all .6s ease-in-out);
      background-color: $color-primary;
    }
}

.mobile-menu-hide{
  width: 150px;
  right: -150px;
  height: 100vh;
  position: fixed;
  z-index: 10;
  top: 0px;
    @include transition(all .6s ease-in-out);

  
  nav{
    ul{
    	padding-left:1rem;
    	text-align: center;
      li{
      	line-height: 3.33;
        transition: all .5s ease;
        
        &:hover{
          background-color: $red;
          transition: all .5s ease;
        }

        a{
          padding: 0.5em 0.66em;
          text-decoration: none;
          color: $white;
          font-weight: 800;

        }
      }
    }
  }
}
.mobile-menu-hide.show{
  right: 0px;
  background-color: $color-primary;
  transition: all .6s ease-in-out;
}