

@include mq(phablet, min) {
/**************** SECTION 1 ****************/

.section-1 {
	.article-1 {
		.article-inner {
			grid-template-columns:1fr 1fr;
           grid-gap:1rem;
		}
	}
}
}

@include mq(tablet, min) {
/**************** SECTION 1 ****************/
.section-1 {
	padding:5.055rem  0 4.44rem;
	.article-1 {
		.article-inner {
			@include justify-content(space-around);
			grid-template-columns:300px 300px;
            grid-gap:1rem;
		}
	}

	.title-text {
		margin-bottom: 0;
	}
	.section-title {
		margin:0;
		line-height: 1.88;
	}
	.article-inner {
		padding-top:4.61rem;
	}
}


/**************** SECTION 2 ****************/
.section-2 {
	padding:6.1rem 0  6.83rem;
	.section-title,.title-text {
		margin:0;
	}
	.section-title {
		line-height: 2.266;
		letter-spacing: 0.33em;
	}
	.article-1 {
		max-width: 834px;
		margin:0 auto;
	}
	.subscribe-form {
		max-width: 825px;
		margin:4.72rem auto 0;
	}
	.email-input {
		margin-right:1.555rem;
	}
	

}


/**************** FOOTER AREA *********************/

.site-footer {
	padding:0;
		.marginator {
		height: 63px;
		border-bottom:2px solid $color-border-marginator;
	}
	.footer-wrapper {
		padding:1.75rem 0;
		max-width: 100%;
		@include align-items(center);
		@include justify-content(space-between);
	}
	.copyrights {
		@include flex-basis();
		@include order(1);
		margin:0;
	}
	.social-links {
		@include order(2);
	}
}

}



// MEDIUM
@include mq(tablet-wide, min) {

/**************** SECTION 2 ****************/

.section-2 {
	.subscribe-form {
		max-width: 100%;
	}
	.submit-input {
		margin-top:0;
	}
}

/**************** FOOTER AREA *********************/

}

// LARGE
@include mq(desktop, min) {

/**************** SECTION 1 ****************/

.section-1 {
		.article-1 {
		.article-inner {
			@include justify-content(space-between);
			grid-template-columns:345px 345px 345px;
            grid-gap:auto;
		}
	}
	.info-title {
		margin:1.833rem auto 0.88rem;
	}
}

@supports not ( (display:grid) or  (display:-ms-grid) ) {
.section-1 {
	.article-inner {
		@include align-items(baseline);
		.info-block {
			@include flex(0 0 345px);
		}
	}

}
}

}
