/**************** SECTION 1 ****************/

.section-1 {
    text-align: center;
    padding: 2.66rem 0;
    .title-text {
        margin: 0 0 0.5rem;
        text-transform: uppercase;
    }
    .section-title {
        margin: 0.5rem auto 1.66rem;
        letter-spacing:  -0.095rem;
    }
    .info-title {
        margin: 1rem auto;
    }
    .info-descrp {
        margin: 1rem auto;
    }

        .article-1 {

        .article-inner {
           display: grid;
           grid-template-columns:1fr;
           @include justify-content(center);
        }
    }
}

@supports not ( (display:grid) or  (display:-ms-grid) ) {
    .section-1 {
          .article-1 {  
        .article-inner {
            @include flexbox()
            @include flex-wrap(wrap);
            @include justify-content(center);
        }
        .info-block {
            @include flex(0 0.5 300px);
        }
    } 
    }
}




/**************** SECTION 2 ****************/

.section-2 {
    text-align: center;
    padding: 3rem 0 3rem;
    @include bg-cover("../img/backgrounds/bg-2.jpg");
    .section-title {
        letter-spacing: 0.125rem;
        text-transform: uppercase;
    }
    .title-text {
        line-height: 2;
    }
    .article-1 {}
    .subscribe-form {
        text-align: left;

    }
    .email-input {
        font-size: 16px;
        width: 100%;
        max-width: 600px;
        padding: 1.5em 1.75em;
        background-color: $color-btn-background;
        border: 2px solid $color-border;
        @include border-radius(5px, all);
        @include placeholder {
            color: $color-text-invert;
        }
        &:active,
        &:focus {
            background-color: $color-btn-background-hover;
            color: $color-text;
            @include placeholder {
                color: $color-text;
            }
        }
    }
    .submit-input {
        margin-top: 1.277rem;
        width: 201px;
        background-color: $color-background;
        color: $color-accent-1;
        @include border-radius(5px, all);
        padding: 1.277em 1.555em;
        border: 2px solid $color-border;
        font-size: 1rem;
        cursor: pointer;

        &:hover,
        &:active,
        &:focus {
            @include transition(.1s ease-in);
            background-color: $color-btn-background;
            color: $color-btn-text;
        }
    }

    // FORM submit-response

#signup-response {
    display:inline;
    margin-left:4px;
    padding-left:20px;
}

.response-waiting {
    background:url("../img/icons/loading.gif") no-repeat left center;
    background-size:1rem 1rem;
}

.response-success {
    background:url("../img/icons/tick.png") no-repeat left center;
    background-size:1rem 1rem;
}

.response-error {
    background:url("../img/icons/cross.png") no-repeat left center;
    background-size:1rem 1rem;
}

}


/**************** FOOTER AREA *********************/

.site-footer {
    padding: 2rem 0 0.5rem;
    .footer-wrapper {
        @include flex-wrap(wrap);
        @include justify-content(center);
        max-width: 300px;
        margin: 0 auto;
    }
    .copyrights {
    	font-size:0.88rem;
        margin: 1.66rem auto 0;
        @include flex( 0 0 100%);
        text-align: center;
    }
    .social-links {

        @include flex( 0 0 165px);
        @include justify-content(space-between);
    }
}