
html {

	@include font-set ($font-name:Roboto,$size: 18px, $colour: $color-text, $weight: 400,  $lh: false);

}



// FONT-FACE RULES GENERATING

//Roboto

  @include font-face('Roboto','Regular', "../fonts/Roboto/RobotoRegular/roboto-regular-webfont", $weight: 400, $style: normal, $asset-pipeline: false );

  @include font-face('Roboto','Medium', "../fonts/Roboto/RobotoMedium/roboto-medium-webfont", $weight: 500, $style: normal, $asset-pipeline: false );

  @include font-face('Roboto','Bold', "../fonts/Roboto/RobotoBold/roboto-bold-webfont", $weight: 700, $style: normal, $asset-pipeline: false );

// HelveticaNeue

  @include font-face('HelveticaNeue','Light', "../fonts/HelveticaNeue/HelveticaNeueLight/HelveticaNeueCyr-Light", $weight: 300, $style: normal, $asset-pipeline: false );

  @include font-face('HelveticaNeue','Regular', "../fonts/HelveticaNeue/HelveticaNeueRegular/HelveticaNeueCyr-Roman", $weight: 400, $style: normal, $asset-pipeline: false );

  @include font-face('HelveticaNeue','Medium',"../fonts/HelveticaNeue/HelveticaNeueMedium/HelveticaNeueCyr-Medium", $weight: 500, $style: normal, $asset-pipeline: false );



// Styling for accent text

.text-accent {
// font-weight:700;
// font-weight: 600;
}

.text-accent-1 {
	color:$color-accent-1;
}

// .text-accent-2 {
// 	color:$color-accent-2;
// }



.dark-bg *:not(.text-accent) {
  color:$color-text-invert;
}

// h2 {
//     line-height: 1.25;
//     font-weight: 700;
// }

