

@mixin font-face($font-family,$font-subset, $file-path, $weight: normal, $style: normal, $asset-pipeline: false ) {

    @font-face {
                font-family: $font-family;
        font-weight: $weight;
        font-style: $style;

        @if ($asset-pipeline == true)  {
            src: font-url("#{$file-path}.eot");
            src: local("#{$font-family} #{$font-subset}"), local('#{$font-family}-#{$font-subset}'),
            font-url("#{$file-path}.eot?#iefix") format('embedded-opentype'),
            font-url("#{$file-path}.woff") format('woff2'),
             font-url("#{$file-path}.woff") format('woff'),
              font-url("#{$file-path}.ttf") format('truetype');

        }
        @else {
            src: url("#{$file-path}.eot");
             src: local("#{$font-family} #{$font-subset}"), local('#{$font-family}-#{$font-subset}'),
               url("#{$file-path}.eot?#iefix") format('embedded-opentype'),
                url("#{$file-path}.woff") format('woff2'),
                url("#{$file-path}.woff") format('woff'),
                 url("#{$file-path}.ttf") format('truetype');

        }
    }

}





@mixin font-set ($font-name:false, $size: false, $colour: false, $weight: false,  $lh: false) {
    font-family: $font-name, Helvetica, Arial, sans-serif;
    @if $size { font-size: $size; }
    @if $colour { color: $colour; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
}
